body {
  background: rgb(80, 125, 167);
  color: rgb(56, 56, 102);
  font-family: 'Lora', serif;
  font-size: 20px;
  font-weight: lighter;
  zoom: 100%
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #575F7D;
  font-size: 28.5px;
  font-weight: 900;
}
h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
  transition: 0.2s;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.container {
  display: grid;
  place-items: center;
}
.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  max-width: 500px

}
.img-circle {
  border-radius: 50%;
}
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: black;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
}

#fab {
   font-size: 70px;
}

.snowing img{
  width: 50px;
  animation: weather 7s linear infinite;
}

.skier img{
  animation: skier 10s linear infinite;
}
.snowing{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: space-around;
  position: absolute;
  top: -100px;
}

.skier{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: space-around;
  position: absolute;
  bottom: -365px;
}

@keyframes skier{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(30vh);
        opacity: 0;
    }
}

@keyframes weather{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(80vh);
        opacity: 0;
    }
}

.skier img:nth-child(1){
  animation-delay: 2s;
  width: 20px
}

.snowing img:nth-child(1){
  animation-delay: 2s;
  width: 50px
}
.snowing img:nth-child(2){
  animation-delay: 1s;
}
.snowing img:nth-child(3){
  animation-delay: 3s;
  width: 23px;
}
.snowing img:nth-child(4){
  animation-delay: 4.5s;
}
.snowing img:nth-child(5){
  animation-delay: 3s;
}
.snowing img:nth-child(6){
  animation-delay: 6s;
  width: 20px;
}
.snowing img:nth-child(7){
  animation-delay: 4s;
}
.snowing img:nth-child(8){
  animation-delay: 2.7s;
  width: 35px;
}
.snowing img:nth-child(9){
  animation-delay: 3s;
  width: 35px;
}

.snowing img:nth-child(10){
  animation-delay: 4s;
  width: 50px;
}

.snowing img:nth-child(11){
  animation-delay: 5s;
  width: 35px;
}

.snowing img:nth-child(12){
  animation-delay: 1.5s;
  width: 20px;
}

.snowing img:nth-child(13){
  animation-delay: 1s;
  width: 15px;
}

.snowing img:nth-child(14){
  animation-delay: 4s;
  width: 35px;
}

.snowing img:nth-child(15){
  animation-delay: 5s;
  width: 35px;
}

.snowing img:nth-child(16){
  animation-delay: 3s;
  width: 15px;
}

.snowing img:nth-child(17){
  animation-delay: 2s;
  width: 40px;
}

.snowing img:nth-child(18){
  animation-delay: 3s;
  width: 30px;
}

.snowing img:nth-child(19){
  animation-delay: 2s;
  width: 60px;
}

.snowing img:nth-child(20){
  animation-delay: 1s;
  width: 35px;
}

.middle-mountain{
  display: grid;
  place-items: center;
  margin: 100px;
}
